// remove default spacing
*,
h1{
    margin: 0;
    padding: 0;
}

// default img styling
img{
    max-width: 100%;
    height: auto;
    display: block;
}

// wrapper styles
.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

// default font styles
html{
    font-size: 62.5%;
}

// default body styles
body{
    font-family: $bodyFont;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 300;
}

// default heading and label styles 
h1,
h2,
label,
button{
    font-family: $headingFont;
    text-transform: lowercase;
}


// heading styles
h1{
    font-size: 6rem;
    font-weight: 300;
    // position for the after
    position: relative;
}

// add the background graphic
h1::after,
h2::after{
    content: '';
    position: absolute;
    background-color: $mainColour;
    z-index: -10;
}

h1::after{
    bottom: 20px;
    left: -5px;
    width: 780px;
    height: 20px;
}

// h2 styles
h2{
    font-weight: 400;
    font-size: 2.8rem;
    position: relative;
    margin: 10px 0;
}

// h2 after styles
h2::after{
    bottom: 8px;
    left: -5px;
    width: 315px;
    height: 10px;
}

// change width of just first h2
h2:first-of-type::after{
    width: 185px;
}

// default image styles
.canvas .imageContainer{
    display: none;
}

// the main section styles
.flexContainer{
    @include flex;
    justify-content: space-between;
}

// the class to show things in JS
.show{
    display: block !important;
}

// make the main take up the entire hieght
main{
    height: 100vh;
    padding-top: 120px;
}
