// remove default spacing
*,
h1{
    margin: 0;
    padding: 0;
}

// wrapper styles
.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

// default font styles
html{
    font-size: 62.5%;
}

// default body styles
body{
    font-family: $bodyFont;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 300;
}

// default heading and label styles 
h1,
label{
    font-family: $headingFont;
    text-transform: lowercase;
}


// heading styles
h1{
    font-size: 6rem;
    font-weight: 300;
    // position for the after
    position: relative;
}

// add the background graphic
h1::after{
    content: '';
    position: absolute;
    bottom: 20px;
    left: -5px;
    width: 780px;
    height: 20px;
    background-color: $mainColour;
    z-index: -10;
}

// h3 styles
h3{
    display: none;
}

// the main section styles
.flexContainer{
    @include flex;
    justify-content: space-between;
}

// the class to show things in JS
.show{
    display: block;
}
