// header styles
header{
    height: 100vh;
}

// flex the items in the wrapper
header .wrapper{
    @include flex;
    justify-content: space-between;
}

// written content section
header .writtenContent{
    width: 70%;
    padding: 250px 0 50px;
}

// paragraph styles
header p{
    font-size: 2.2rem;
}

// start button styles
header button{
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid black;
    width: 150px;
    padding: 8px 0;
    @include transition;
    margin-top: 30px;
}

// change styles on hover
header button:hover,
header button:focus{
    @include buttonHover;
}

// change size of the image container
header .imageContainer{
    width: 25%;
    padding-top: 50px;
}


