@media (max-width: 1200px){

    //                      HEADER STYLES
    // change padding on written content
    header .writtenContent{
        padding: 200px 0 100px;
    }

    //                      GENERAL STYLES

    // MAIN STYLES
    // make the main into column and center elements
    .flexContainer{
        flex-direction: column;
        align-items: center;
    }

    // change main styles
    main{
        height: auto;
        padding: 30px 0 50px;
    }

    //                      OPTIONS STYLES
    .options{
        width: 50%;
    }



}

@media (max-width: 800px){
    //                      HEADER STYLES
    // remove 100vh
    header{
        height: auto;
    }

    //                  OPTIONS STYLES
    .options{
        width: 80%;
    }

}